/* -------------------- DEFAULTS -------------------- */

:root {
    --background: #b3c6e6;
    --text: #1a3656;
    --title: #003a7c;
    --button: #5989c0;
    --frame: #8ea9d9;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS";
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-size: 22px;
}

main {
    padding: 0 20px;
}

h2 {
    color: var(--title);
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

section,
aside {
    background-color: var(--frame);
    padding: 40px;
    margin-bottom: 30px;
    border-radius: 15px;
    width: 100%;
    min-height: 500px;
    display: block;
}

.bigbutt {
    background-color: var(--frame);
    width: 90%;
    height: 150px;
    border-radius: 10px;
    margin: 20px auto;
    text-align: center;
    border: 3px solid var(--background);
    box-shadow: 7px 7px var(--button);
    display: block;
    position: relative;
}

.bigbutt a {
    display: block;
    color: var(--text);
    font-size: 24px;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.button {
    background-color: var(--button);
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--text);
    display: inline-block;
}

.button:hover {
    padding: 12px 23px;
}

/* HEADER */
header {
    background-color: var(--frame);
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    text-align: left;
    position: relative;
    height: 140px;
}

header img#logo {
    height: 100px;
    vertical-align: middle;
    display: inline-block;
}

header h1 {
    display: none;
    color: var(--title);
    font-size: 32px;
    line-height: 100px;
    margin-left: 20px;
    vertical-align: middle;
}

header nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--frame);
    z-index: 1000;
    padding-top: 100px;
    text-align: center;
}

header nav.show {
    display: block;
}

#quickoptions a,
#quickoptions .button {
    display: block;
    margin: 20px auto;
    width: 80%;
    font-size: 28px;
    cursor: pointer;
}

#closebutt {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    cursor: pointer;
}

#morebutt {
    height: 40px;
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    display: block;
}

/*----------------------------------------------------*/


.filesym {
    display: block;
    margin: 25px auto 0 auto;
    width: 200px;
}

aside ul {
    list-style: none;
    text-align: center;
}

aside li {
    padding: 10px 0;
}


/* -------------------- RESPONSIVENESS -------------------- */

/* TABLET */
@media (min-width: 577px) {

    #morebutt {
        display: none;
    }

    header nav {
        display: block;
        position: absolute;
        top: 50px;
        right: 40px;
        width: auto;
        height: auto;
        background-color: transparent;
        padding-top: 0;
        z-index: 1;
        text-align: right;
    }

    #quickoptions a,
    #quickoptions .button {
        display: inline-block;
        width: auto;
        margin: 0 10px;
        font-size: 22px;
    }

    #closebutt {
        display: none;
    }

    .filesym {
        display: inline-block;
        margin: 25px 10px;
        width: 200px;
    }

    section {
        text-align: center;
    }

}


/* DESKTOP */
@media (min-width: 1025px) {

    header h1 {
        display: inline-block;
    }

    main {
        font-size: 0;
    }

    main>* {
        font-size: 22px;
    }

    section {
        display: inline-block;
        vertical-align: top;
        width: 65%;
        margin-right: 2%;
        margin-bottom: 0;
    }

    aside {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        margin-bottom: 0;
    }
}

/* ------------------------------------------------------- */