<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic Upload</title>

    <link rel="stylesheet" href="../css/upload.css">
    <script type="text/javascript" src="../js/upload.js"></script>

</head>
<body>
    
	<header>
		<p>Magic Folder</p>
		<nav>
			<a>Files</a>
			<a>Account</a>
			<a>Upload</a>
		</nav>
	</header>

    <section>
        <article>
         
            <h1>Upload</h1>
            
            <div class="uploader bigbutt" id="uploader">Click to upload or drag file here</div>
    
            <div id="element"></div>
            
        </article>
        <article class="fileup">

                    <img class="filesym" src="https://placehold.co/200">

                    <h2>File:</h2>
                    <span id="type">placeholder</span>


        </article>

        <button id="upload" class="bigbutt">Submit all files</button>

    </section>


</body>
</html>