<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic Files</title>
    <link rel="stylesheet" href="../css/files.css">

</head>

<body>

    <header>
        <a href="dashboard.html">
            <img src="../img/LogoLight.png" id="logo">
        </a>
        <h1>Magic Folder</h1>
        <nav id="quickoptions">
            <a href="files.html">Files</a>
            <a>Account</a>
            <a class="button" href="./upload.html">Upload</a>
            <img id="closebutt" src="../img/closesym.png">
        </nav>
        <img id="morebutt" src="../img/MoreButton.png">
    </header>

    <main>
        <section>

            <h2>Root Folder</h2>

            <article class="foldersect">
                <a class="button">Image 1</a>
                <div>
                    <label for="date">Fecha de Creación:</label>
                    <p id="date">05/01/2026</p>
                </div>
            </article>
            <article class="foldersect">
                <a class="button">Image 2</a>
                <div>
                    <label for="date">Fecha de Creación:</label>
                    <p id="date">03/01/2026</p>
                </div>
            </article>
            <article class="foldersect">
                <a class="button">Image 3</a>
                <div>
                    <label for="date">Fecha de Creación:</label>
                    <p id="date">07/01/2026</p>
                </div>
            </article>

        </section>
    </main>

    <script src="../js/files.js"></script>
    <script src="../js/menubutt.js"></script>
</body>

</html>