<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic Upload</title>

    <link rel="stylesheet" href="../css/upload.css">

</head>

<body id="page">

    <header>
        <a href="dashboard.html">
            <img src="../img/LogoLight.png" id="logo">
        </a>
        <h1>Magic Folder</h1>
        <nav id="quickoptions">
            <a href="files.html">Files</a>
            <a>Account</a>
            <a class="button" href="./upload.html">Upload</a>
            <img id="closebutt" src="../img/closesym.png">
        </nav>
        <img id="morebutt" src="../img/MoreButton.png">
    </header>

    <main>
        <section>
            <form>
                <article>

                    <h2>Upload</h2>

                    <input type="file" id="uploader" hidden accept="*">
                    <label for="uploader" class="bigbutt">Click to here upload a file</label>

                    <div id="element"></div>

                </article>
                <article class="fileup">

                    <img class="filesym" src="https://placehold.co/200/FFFFFF/1e2c3c">

                    <div class="fileinfo">
                        <h2>File Type:</h2>
                        <p id="name">PNG</p>
                        <label for="folders" id="folderlabel">Folder:</label>
                        <select name="folders" id="folders">
                            <option value="">Root</option>
                        </select>
                    </div>

                </article>

                <button id="upload" class="button">Submit all files</button>

        </section>
    </main>



    <script src="../js/upload.js"></script>
    <script src="../js/menubutt.js"></script>
</body>

</html>